* {
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items:center;
    justify-content:center;
}
.start {
    padding:20px;
    align-items: center;
    background-color: rgb(67, 41, 28);
    grid-template-areas: "text";
}
h1{
    grid-area: "text";
    color: rgb(251, 242, 193);
    align-items: center;
}
body{
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
.coffee-icon{
    height: 45px;
    position: relative;
}
.block{
    background-color: rgb(238, 225, 213);
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(200, 200, 200);;
    padding:15px;
    margin-bottom:20px;
    width: 100%;
}   
.block-items{
    grid-area: items;
}

.block-name{
    grid-area: name;
}
.block-payment{
    grid-area: payment;
} 
.input-order{
    justify-content: space-around;
    flex-direction:row;
    display: flex;
}
.payment-section{
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}
.col{
    flex-direction: column;
    width: 50%;
    height:fit-content;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
}
.col1{
    display: flex;
}

.col2{
    display: flex;
    flex-direction: column;
}
.main-section{
    background-color: rgb(239, 239, 239);
}
.column{
    flex-direction: column;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
}


h2{
    margin:0px;
    color: rgb(137, 90, 45);
    font-size: 16px;
    font-weight:100;
    font-size:smaller;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3%;
    margin-top: 3%;
}
ul{
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}
.amount{
    font-weight: 100;;
}
li{
    font-size: small;   
}

.item-amount-price{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-details{
    justify-content: left;
    display:flex;
    flex-direction:row;
}
.item-add-on{
    color: rgb(176, 136, 96);
}

.item-block{
    padding-left: 20px;
    padding-right: 50px;
}
.price{
    margin-right: 20px;
}
.hr-coffee{
    color: rgb(221, 184, 146);
    border: 1px solid;
}


.group-input{
    position: relative;
    flex-direction: column;
    margin: 10px 5px;
}

.input-text-section{
    background-color: rgb(233, 223, 211);
    color: rgb(137, 90, 45);
    font-size: 11px;
    position: absolute;
    left: 20px;
    top:-7px;
    padding: 0 2px;
    width:fit-content;
}
.input-text-default{
    text-indent: 18px;
    border: 2px rgb(137, 90, 45) solid;
    color: rgb(137, 90, 45);
    padding: 8px;
    border-radius: 40px;
    background-color: rgba(238, 225, 13, 0);
    width:100%;
}
button{
    background-color: rgb(222, 185, 147);
    border: none;
    color: rgb(67, 41, 28);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 60px;
    margin: 4%;
}
.receipt{
    align-content: center;
    
}
.important{
    font-weight: bold;
}
.receipt-item{
    margin-left:30%;
    margin-right:30%;
    padding:1%;
}
.payment-boxes{
    margin-bottom:4%;
}