
@font-face {
    font-family: elegant;
    src: url("https://fonts.google.com/share?selection.family=Ballet:opsz@16..72|Mea+Culpa|Rubik:ital,wght@0,300..900;1,300..900|Science+Gothic:wght@100..900");
}
body{
    align-items: center;
    flex-flow: column;
    font-family: "Rubik", sans-serif;
    color:#5b6a7b;
}
div{
    margin: auto;

}
.title{
    color:#3e4a58;
    border-style: solid;
    /* height: 100px; */
    width: auto;
    margin:90px 50px 20px 50px;
    border:10px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 90px;
    font-weight: bold;
}
.loading-logo{
    height: 10px;
    width: auto;
    margin:10px 50px 20px 50px;
    border:10px;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    line-height: 10px;
}
.answer{
    display: flex;
    height: 400px;
    width: auto;
    margin:10px 50px 20px 50px;
    text-align: center;
}
.row{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.input{
    margin: 2.5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-style: solid;
    border-color: #d6dee7;
    font-size: 40px;
    color:#6c7e95;
    vertical-align: middle;
}
.shake {
  animation: shake .7s ease-out 1;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 60%, 90% {transform: translateX(3px);}
	25%, 45%, 75% {transform: translateX(-3px);}
}

.zoom-in{
    animation: zoom-in 1s ease-in forwards;
}
@keyframes zoom-in{
    0%, 100% {transform: scale(1);}
    50% {transform: scale(1.09);}
}

.rotate{
    animation: rotate 1s linear infinite;
}
@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}
