
@font-face {
    font-family: elegant;
    src: url("https://fonts.google.com/share?selection.family=Ballet:opsz@16..72|Mea+Culpa|Rubik:ital,wght@0,300..900;1,300..900|Science+Gothic:wght@100..900");
}
body{
    align-items: center;
    flex-flow: column;
    font-family: "Rubik", sans-serif;
    color:#c9d4e0;
}
div{
    margin: auto;

}
.title{
    border-style: solid;
    /* height: 100px; */
    width: auto;
    margin:90px 50px 20px 50px;
    border:10px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 60px;
}
.loading-logo{
    /* height: 80px; */
    width: auto;
    margin:10px 50px 20px 50px;
    border:10px;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    line-height: 10px;
}
.answer{
    display: flex;
    height: 400px;
    width: auto;
    margin:10px 50px 20px 50px;
    text-align: center;
}
.row{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}
.input{
    margin: 2.5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-style: solid;
    border-color: #c9d4e0;
    font-size: 40px;
    color:#829ebe;
    vertical-align: middle;
}